@media (prefers-color-scheme: light) {
  :root {
    --bg-rgbv: 218, 214, 197; //247, 241, 230;
    //--bg-rgbv: 247, 241, 230;//242, 235, 223;//251, 231, 218;
    --fg-rgbv: 32, 33, 36;
    --fg-alt-rgbv: 232, 223, 213;
    --fg-muted: rgba(1,1,1,0.5);
    --fg-accent: rgb(61, 123, 237);
    --primary-rgbv: 40, 75, 123;
    --secondary-rgbv: 127, 75, 48;
    --underline-rgbv: 128, 104, 140;
    --svg-filter: invert(.25) sepia(5) saturate(5) hue-rotate(170deg);
    --svg-filter-alt: invert(0.94);
    --surface1: rgba(128,128,128,0.1);
    --surface2: rgba(128,128,128,0.2);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-rgbv: 32, 32, 35;
    --fg-rgbv: 255,255,255;
    --fg-alt-rgbv: 0,0,0;
    --fg-muted: rgba(255,255,255,0.5);
    --fg-accent: rgb(255, 99, 195);
    --primary-rgbv: 129, 230, 217;
    --secondary-rgbv: 250, 210, 140;
    --svg-filter: invert(.80) sepia(2) saturate(2.5) hue-rotate(135deg);
    --svg-filter-alt: invert(0);
    --underline-rgbv: 118, 118, 118;
    --surface1: rgba(255,255,255,0.08);
    --surface2: rgba(255,255,255,0.2);
  }
}
[data-theme="dark"] {
  --bg-rgbv: 30, 30, 33;
  --fg-rgbv: 255,255,255;
  --fg-alt-rgbv: 0,0,0;
  --fg-muted: rgba(255,255,255,0.5);
  --fg-accent: rgb(255, 99, 195);
  --primary-rgbv: 129, 230, 217;
  --secondary-rgbv: 250, 210, 140;
  --svg-filter: invert(.80) sepia(2) saturate(2.5) hue-rotate(135deg);
  --svg-filter-alt: invert(0);
  --underline-rgbv: 118, 118, 118;
  --surface1: rgba(255,255,255,0.08);
  --surface2: rgba(255,255,255,0.2);
}
[data-theme="light"] {
  --bg-rgbv: 218, 214, 197; //247, 241, 230;
  --fg-rgbv: 32, 33, 36;
  --fg-alt-rgbv: 232, 223, 213;
  --fg-muted: rgba(1,1,1,0.5);
  --fg-accent: rgb(61, 123, 237);
  --primary-rgbv: 40, 75, 123;
  --secondary-rgbv: 127, 75, 48;
  --underline-rgbv: 128, 104, 140;
  --svg-filter: invert(.25) sepia(5) saturate(5) hue-rotate(170deg);
  --svg-filter-alt: invert(0.94);
  --surface1: rgba(128,128,128,0.1);
  --surface2: rgba(128,128,128,0.2);
}

:root {
  --bg: rgb(var(--bg-rgbv));
  --fg: rgb(var(--fg-rgbv));
  --fg-alt: rgb(var(--fg-alt-rgbv));
  --primary: rgb(var(--primary-rgbv));
  --secondary: rgb(var(--secondary-rgbv));
  --underline: rgba(var(--underline-rgbv), 0.5);
  --bg-blur: 0.25rem;
  --container-width: 35rem;
}

.rootbg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-self: center;
  opacity: 0.09;
  background: linear-gradient(130deg,rgba(0, 34, 238, 1) 0%, rgba(244, 51, 255, 1) 100%);
}

.bg-pri {
  --rgb: var(--primary-rgbv);
  --alpha: 1;
  background-color: rgba(var(--rgb), var(--alpha));
  color: var(--fg-alt);
}
.bg-sec {
  --rgb: var(--secondary-rgbv);
  --alpha: 1;
  background-color: rgba(var(--rgb), var(--alpha));
  color: var(--fg-alt);
}
.bg-main {
  --rgb: var(--bg-rgbv);
  --alpha: 1;
  background-color: rgba(var(--rgb), var(--alpha));
}
.fg-main {
  --rgb: var(--fg-rgbv);
  --alpha: 1;
  color: rgba(var(--rgb), var(--alpha));
}
.fg-alt {
  --rgb: var(--fg-alt-rgbv);
  --alpha: 1;
  color: rgba(var(--rgb), var(--alpha));
}
.muted {
  color: var(--fg-muted);
}
.link {
  color: var(--fg-accent);
}
.link:hover {
  text-decoration: underline;
}
.noselect {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noselect:focus {
    outline: none !important;
}

hr {
  height: 1px;
  margin: 2rem 0;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: linear-gradient(left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  border: 0;
}
hr:after {
  display: block;
  content: '';
  height: 30px;
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #555), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(center top, farthest-side, #555 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #555 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #555 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #555 0%, rgba(255, 255, 255, 0) 100%);
}

a {
  text-decoration: none;
  color:inherit;
}
.heading {
  display: inline-block;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  margin-block: 1rem;
  padding: 0;
}
.heading-underline {
  border-bottom: 0.25rem solid var(--underline);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #cccccc00; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
