---
import { ClientRouter } from "astro:transitions";
import LoadingScreen from "../components/LoadingScreen.astro";
import "../styles/global.css";
---
<!doctype html>
<html lang="en" transition:name="root" transition:animate={"none"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap"
      rel="stylesheet"
    />
    <script src="../js/theme.js"/>
    <title>{Astro.props.title}</title>
    <ClientRouter />
  </head>
  <body class="bg-main">
    <LoadingScreen />
    <div class="rootbg"></div>
    <slot />
  </body>
</html>
<style is:global>
  html,
  body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-style: normal;
    color: var(--fg);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0;
    scrollbar-gutter: stable;
  }
  /*
	.rootbg {
    opacity: 0.2;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    min-width: 700px;
    filter: blur(var(--bg-blur));
    z-index: -1;
    background-attachment: fixed;
    fill: #000;
    background-color: var(--bg);
	}
  */
  /*
  @media screen and (max-width: 700px) {
    .rootbg {
      transform: rotate(90deg);
      scale: 1.65;
      min-width: 0;
    }
    :root {
      --bg-blur: 1.25rem;
    }
  }
*/
</style>
<script>
  import { swapFunctions } from "astro:transitions/client";

  document.addEventListener("astro:before-swap", (e) => {
    e.swap = () => mySwap(e.newDocument);
  });

  function mySwap(doc: Document) {
    swapFunctions.deselectScripts(doc);
    //swapFunctions.swapRootAttributes(doc);
    swapFunctions.swapHeadElements(doc);
    const restoreFocusFunction = swapFunctions.saveFocus();
    const newMain = doc.querySelector("main");
    const oldMain = document.querySelector("main");

    if (newMain && oldMain) swapFunctions.swapBodyElement(newMain, oldMain);
    else swapFunctions.swapBodyElement(doc.body, document.body);
    //swapFunctions.swapBodyElement(doc.body, document.body);
    restoreFocusFunction();
  }
</script>
